*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}

/* navigation releted  */


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 80px 0px 100px;
    padding: 40px 0;
}
.nav-fortfolio{
    color: black;
    font-size: 45px;
    font-weight: 800;
}
.different{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 50px;
    
}
nav a{
    text-decoration: none;
    font-size:25px;
    font-weight: 400;
    color: #474747;
}
nav a:hover{
    /* text-decoration: underline; */
    background-color: lightgray;
    /* padding: 10px; */
    border-radius: 5px;
}
.btn{
    background: #FD6E0A;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-size: 20px;
    color:#fff;
    padding: 18px 35px;
    cursor: pointer;

}
/* header releted work */

.header{
    background-color: #FFF8F3;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(/images/header_bg.png);
    background-position: bottom right ;
    background-repeat: no-repeat;
    /* position: absolute; */
}
.pera{
    width: 535px;
    margin-top: -13px;
}
button{
    /* background: #FD6E0A; */
    border-radius: 5px;
    outline: none;
    border: none;
    /* border: 1px solid #FD6E0A; */
    font-weight: 700;
    font-size: 20px;
    color:#FD6E0A;
    padding: 18px 35px;
    cursor: pointer;
    box-shadow: 4px 4px 4px gray;
    width: 150px;
    margin-left: 9px;
}
.banner-content{
    width: 450px;
    margin-left: -30px;
}
.banner .btn{
    margin-top: 17px;
    box-shadow: 4px 4px 4px gray;
}
.banner .profile-pic{
    width: 430px;
    height: 500px;
    flex-shrink: 0;
    margin-right: 60px;
}
/* .banner.web-develop-pic{
    position:relative;
    width: 400px;
    height: 100px;
    background-position: left;

} */
.banner-greeting{
    font-size: 37px;
    color: #474747;
    margin-bottom: 0px;
    text-shadow: 4px 4px 4px gray;
}
.banner-title{
    font-size: 75px;
    font-weight: 700;
    margin-top: -10px;
    text-shadow: 5px 5px 5px gray;
}
.about{
    border-radius: 10px;
    background: #FFF8F3;
    padding:60px 80px;
    margin: 90px 0px;
}
.about-title{
    color: #181818;
text-align: center;
/* font-family: Open Sans; */
font-size: 35px;
/* font-style: normal; */
font-weight: 700;
/* line-height: normal; */
}
.about-pera{
    color: #757575;
text-align: center;
font-family: Open Sans;
font-size: 18px;
/* font-style: normal; */
font-weight: 400;
line-height: 30px; /* 166.667% */
}
main{
    max-width: 850px;
    margin: 0 auto;
}
.about-info-container{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 20px;
}